<h1>SHOW action Page</h1>

<p>
Title: <%= @topic.title %>
</p>
<p>
Description: <%= @topic.description %>
</p>

<%= link_to"edit this topic", edit_topic_path(@topic) %> |


	<%= link_to"Back to all topics list", topics_path(@topic) %>
